/* Login.css */

.Container {
    margin-bottom: 22%;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(9, 8, 9.2, 1) 0ms;
    border-radius: 112px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
  }
  
  .Typography1 {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-bottom: 0.35em;
  }
  
  .Typography2 {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0.00735em;
    margin-bottom: 0.35em;
  }
  
  .bgimg {
    padding-top: 5%;
    background-image: url(./../../Assect/p5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome {
   
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 600px;
    margin-left: 500px;
    font-family: 'Arial', sans-serif;
  }
  
  /* Rest of your existing styles */
 