/* Login.css */

.Container {
    background-color: #f50f0f;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 112px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
  }
  
  .Typography1 {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-bottom: 0.35em;
  }
  
  .button {
    background-color: aqua;
  }
  
  .bgimg {
    background-image: url(./../../Assect/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome {
    padding: 5%;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
  }
  
  /* Rest of your existing styles */
 