/* Homepage.css */


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 39rem;
  left: 15%;
  padding: 1.25rem 0;
  color: #fff;
  text-align: center;

}

.carousel-caption h3 {
  color: #fefefe;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.carousel-caption p {
  color: #fff;
  font-size: 16px;
}
.tourism-info {
  padding: 20px;
  text-align: center;
}

.tourism-info h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.tourism-info p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 30px;
}

.tourism-info p:last-child {
  margin-bottom: 0;
}
.cards-container {
  display: flex;
  justify-content: space-between; /* Adjust this as needed */
  align-items: center; /* Adjust this as needed */
  margin-top: 20px;
}

.card {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
}

.card-image {
  width: 100%;
  height: auto;
  max-height: 200px; /* Adjust this as needed */
}

.card-content {
  margin-top: 10px;
}
